.custom-accordion .accordion-button {
    background-color: white; /* Colore di sfondo */
    color: black; /* Colore del testo */
    border: 1px solid#C7B961; /* Bordo */
  }
  
  /* Stile per l'header dell'accordion quando è aperto */
  .custom-accordion .accordion-button:not(.collapsed) {
    background-color: white; /* Colore di sfondo quando aperto */
    color: black; /* Colore del testo quando aperto */
  }
  
  /* Stile per il corpo dell'accordion */
  .custom-accordion .accordion-body {
    background-color: white; /* Colore di sfondo */
    color: white; /* Colore del testo */
    border: 1px solid#C7B961; /* Bordo */
  }
  
  .custom-accordion .accordion-button:focus {
    box-shadow: none; /* Rimuove l'ombra blu */
  }
  .custom-accordion .accordion-button:hover {
    background-color: #f0f5fb; /* Colore oro */
    color: #c7b961; /* Colore del testo */
  }
  
  .custom-accordion .accordion-body:hover {
    background-color: #f0f5fb; /* Colore di sfondo */
    color: black; /* Colore del testo */
  }
  
  .custom-accordion .accordion-button:not(.collapsed):hover {
    background-color: white; /* Mantieni il colore di sfondo quando aperto */
    color: black; /* Mantieni il colore del testo quando aperto */
  }
  .custom-accordion .accordion-button:hover::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23C7B961'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); /* Colore oro per la freccia */
  }
  
  /* Cambia il colore della freccia quando l'accordion è aperto */
  .custom-accordion .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23C7B961'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); /* Colore oro per la freccia */
  }