.fullscreen-calendar .react-calendar {
    width: 90%; /* Rende il calendario largo quanto il contenitore */
    max-width: 800px; /* Imposta una larghezza massima per evitare che diventi enorme */
    
    
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .react-calendar__tile--now {
    background:  #e0d7a5!important; 
    color: white !important;
    font-weight: bold;
    border-radius: 8px;
  }
 
.react-calendar__tile--active {
  background-color: #a89c4d !important; /* Colore per il giorno selezionato */
  color: white;
}

.nav-link {
  color: #a89c4d; /* Colore del testo quando la tab NON è selezionata */
}

.nav-link.active {
  color: black; /* Colore del testo quando la tab È selezionata */
}