.btn-gold-outline {
    border: 1px solid  #c9bd70 !important;
    color: black!important;
    background-color: transparent!important;
}

/* Stile quando il bottone è cliccato (attivo): sfondo nero, testo oro */
.btn-gold-outline.active {
    background-color: #c9bd70!important;
    color: black !important;
    border-color: #c9bd70 !important;
}
.bg-white .btn-gold-outline:hover {
    background-color: #c9bd70 !important;
    color: black !important;
    border-color: #c9bd70 !important;
}

.bgTour{
    background-color: #f5edc9;
}

.custom-datetime-input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  .custom-checkbox .form-check-input:checked {
    background-color:#c9bd70;
    border-color: #c9bd70;
  }
  
  .custom-checkbox .form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 215, 0, 0.25);
  }

  
.custom-input {
    border-color: #c9bd70 !important; 
    
  }
  
  .custom-input:focus {
    border-color: #c9bd70 !important;
    box-shadow: 0 0 0 0.25rem rgba(201, 189, 112, 0.25) !important;
    
  }
  
  .custom-datetime-input {
    border-color: #c9bd70 !important; 
  }
  
  .custom-datetime-input:focus {
    border-color: #c9bd70 !important; 
    box-shadow: 0 0 0 0.25rem rgba(201, 189, 112, 0.25) !important; 
  }
  
  
  .custom-select {
    border-color: #c9bd70 !important; 
  }
  
  .custom-select:focus {
    border-color: #c9bd70 !important; 
    box-shadow: 0 0 0 0.25rem rgba(201, 189, 112, 0.25) !important; 
  }
  .custom-button {
    background-color: #c9bd70 !important; 
    color: black !important;
    border: none;
  }
  
  .custom-button:hover {
    background-color: #b3aa5f !important; /* Colore più scuro per hover */
  }
 