.merriweather {
  font-family: "Merriweather", serif !important;
}

.sans {
  font-family: "Open Sans", serif !important;
}

.montserrat {
  font-family: "Montserrat", serif !important;
}

.code {
  font-family: "Roboto Flex", serif !important
}

.quicksand {
  font-family: "Quicksand", sans-serif !important
}


.hover {
  color: #c9bd70 !important;
}
.notHover {
  color: white !important;
}

.color{
  color: #c9bd70 !important;
}
.bg-color{
  background-color: #c9bd70 !important;
  border: none !important;
  outline: none !important; 
}


.fullscreen-calendar {
  width: 100vw;   /* Occupa tutta la larghezza della finestra */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-calendar .react-calendar {
  width: 90%; /* Rende il calendario largo quanto il contenitore */
  max-width: 800px; /* Imposta una larghezza massima per evitare che diventi enorme */
  
  
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile--now {
  background:  #c9bd70!important; 
  color: white !important;
  font-weight: bold;
  border-radius: 8px;
}

/*font-family:'Courier New', Courier, monospace !important*/
