.merriweather {
  font-family: "Merriweather", serif !important;
}

.sans {
  font-family: "Open Sans", serif !important;
}

.montserrat {
  font-family: "Montserrat", serif !important;
}

.code {
  font-family: "Roboto Flex", serif !important
}

.quicksand {
  font-family: "Quicksand", sans-serif !important
}


.hover {
  color: #c9bd70 !important;
}
.notHover {
  color: white !important;
}

.color{
  color: #c9bd70 !important;
}
.bg-color{
  background-color: #c9bd70 !important;
  border: none !important;
  outline: none !important; 
}


.fullscreen-calendar {
  width: 100vw;   /* Occupa tutta la larghezza della finestra */
  display: flex;
  justify-content: center;
  align-items: center;
}



/*font-family:'Courier New', Courier, monospace !important*/
